.images-switcher {
  position: absolute;
  width: 35em;
  right: 2rem;
  height: 70vh;
  top: 50%;
  margin-top: -30px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .5s ease;
  user-select: none;
}

.images-switcher__visible {
  opacity: 1;
}

.images-switcher__image-top,
.images-switcher__image-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  overflow: hidden;
  user-select: none;
}

.images-switcher__image-top {
  top: 0px;
  z-index: 3;
  user-select: none;
}

.images-switcher__image-bottom {
  bottom: 0px;
  z-index: 2;
  height: 100%;
  user-select: none;
}

.images-switcher__image-top > .images-switcher__image,
.images-switcher__image-bottom > .images-switcher__image {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.images-switcher__image-top > .images-switcher__image {
  top: 0;
}

.images-switcher__image-bottom > .images-switcher__image {
  bottom: 0;
}

@media screen and (max-width: 1023px) {
  .images-switcher {
    width: 37rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 400px;
    top: 50%;
    margin-top: 60px;
  }
}

@media screen and (max-width: 720px) {
  .images-switcher-container {
    position: relative;
    padding: 10rem 0 5rem 0;
  }

  .images-switcher {
    position: absolute;
    width: 100% !important;
    left: auto;
    right: auto;
    top: 50%;
    transform: translateY(-50%) !important;
    height: 50rem !important;
    transform: none;
    margin-top: 30px;
  }

  .images-switcher__image-bottom,
  .images-switcher__image-top {
    top: 0;
    bottom: 0;
    height: auto;
    width: 50%;
    height: 50rem !important;
  }

  .images-switcher__image-top {
    left: 0;
  }

  .images-switcher__image-bottom {
    right: 0;
    left: auto;
  }

  .images-switcher__image-top > .images-switcher__image {
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    width: calc(100vw - 7rem);
    height: 50rem !important;
  }

  .images-switcher__image-bottom > .images-switcher__image {
    bottom: 0;
    top: 0;
    right: 0;
    left: auto;
    width: calc(100vw - 7rem);
    height: 50rem !important;;
  }
}
