.gcLine {
  position: absolute;
  top: 50%;
  z-index: 5;
  right: 0;
  width: 100%;
  display: flex;
  transition: all 2s ease;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: translateY(-20px);
}

.gcLine_hidden {
  opacity: 0;
  transition: all 0.5s ease;
}

.gcLine__c {
  margin-left: 1.5rem;
  flex: 0 0 auto;
  width: 68px;
  transform: translateY(-10px);
  user-select: none;
}

.gcLine__g {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 70px;
  transform: translateY(-10px);
  user-select: none;
}

.gcLine_animated {
  width: 50rem;
}

.gcLine__center {
  height: 50px;
  width: 100%;
  flex: 1 1 auto;
  z-index: 5;
  cursor: pointer;
  position: relative;
  outline: none;
}

.gcLine__center:focus,
.gcLine__center:hover,
.gcLine__line:focus,
.gcLine__line:hover {
  outline: none;
}

.gcLine__line {
  height: 7px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  outline: none;
}

@media screen and (max-width: 1023px) {
  .gcLine {
    margin-top: 40px;
  }

  .gcLine__animated {
    width: 100%;
  }
}
