.mission .images-switcher {
  width: 40rem;
}


@media screen and (min-width: 1100px) {
  .mission .images-switcher {
    width: 40rem;
  }
}

@media screen and (min-width: 1700px) {
  .mission .images-switcher {
    width: 42rem;
  }
}

@media screen and (max-width: 1023px) {
  .mission .images-switcher {
    width: 38rem;
  }
}
